{% extends 'themes/default/admin/pages/ticket/template.html.twig' %}

{% block title %}Editer une journée{% endblock %}

{% block main_content %}

    <section class="title">
        <h1>Editer la journée des {{ day.typeString }} du {{ day.day | date('d/m/Y') }}</h1>
    </section>

    <section class="content">
        <div class="toolbar"></div>

        <div id="slots" data-slots="{{ slots | json_encode() }}" data-day-id={{ day.id }}></div>
    </section>
{% endblock %}