{% extends 'themes/default/admin/pages/ticket/template.html.twig' %}

{% block title %}Gestion des journées{% endblock %}

{% block main_content %}

    <section class="title">
        <h1>Gestion des journées</h1>
    </section>

    <section class="content">

        <div class="days days-ancien">
            <div id="toolbar-ancien" data-id="{{ ouvertureAncien.id }}" data-type="0" data-date-open="{{ ouvertureAncien.open | date('F d\\, Y H\\:i\\:s') }}"></div>

            <div class="days-cards">
                {% for day in days %}
                    {% if day.type == 0 %}
                        {% include "themes/default/admin/pages/ticket/components/day.html.twig" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        
        <div class="days days-nouveau">
            <div id="toolbar-nouveau" data-id="{{ ouvertureNouveau.id }}" data-type="1" data-date-open="{{ ouvertureNouveau.open | date('F d\\, Y H\\:i\\:s') }}"></div>

            <div class="days-cards">
                {% for day in days %}
                    {% if day.type == 1 %}
                        {% include "themes/default/admin/pages/ticket/components/day.html.twig" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </section>
{% endblock %}