@import "../vars/vars.scss";

.btn{
    display: inline-block;
    background-color: transparent;
    border: 1px solid $color3;
    text-transform: uppercase;
    padding: 12px 22px 12px 22px;
    border-radius: 10px;
    color: $color3;
    z-index: 1;
    @include boxshadow($color3);
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover{
        border-radius: 0;
    }
}

.btn-primary{
    background-color: $color0;
    border-color: $color0;
    color: $color4;
}

.btn-danger{
    background-color: $error;
    border-color: $error;
    color: $color4;
}