@import "../vars/vars.scss";

.toolbar{
    padding-bottom: 25px;
    border-bottom: 1px solid $color4;
    margin-bottom: 25px;
}

.toolbar-left{
    & > .item:not(:last-child){
        margin-bottom: 10px;
    }
}

.toolbar-right{
    margin-top: 10px;
}

.item-search, .item-select{
    .form-group{
        margin-bottom: 0;
    }
    input{
        padding: 12px 15px;
        border-radius: 10px;
    }    
    label select{
        margin-top: 0;
    }
}


//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .toolbar{
        @include flex(row, flex-start, space-between);
    }

    .toolbar-left{
        @include flex(row, flex-start, flex-start);

        & > .item:not(:last-child){
            margin-bottom: 0;
            margin-right: 10px;
        }
    }

    .toolbar-right{
        margin-top: 0;
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .toolbar-right{
        @include flex(row, flex-start, flex-start);

        & > .item:not(:last-child){
            margin-bottom: 0;
            margin-right: 10px;
        }

        label[for="searched"]{
            display: none;
        }
    }
}