<files .htaccess>
    order allow,deny
    deny from all
</files>

RewriteCond %{HTTP_HOST} ^www.inscription.citemusique-marseille.com$
RewriteRule ^(.*) http://inscription.citemusique-marseille.com/$1 [QSA,L,R=301]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]