@mixin fontLight() { font-family: 'Poppins', sans-serif; font-weight: 300; }
@mixin fontRegular() { font-family: 'Poppins', sans-serif; font-weight: 400; }
@mixin fontSemibold() { font-family: 'Poppins', sans-serif; font-weight: 600; }
@mixin fontBold() { font-family: 'Poppins', sans-serif; font-weight: 700; }

@mixin hide() { position: absolute; opacity: 0; z-index: -10; }
@mixin show() { position: relative; opacity: 1; z-index: 0; }

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;flex-direction: $direction;
  align-items: $align;justify-content: $justify;
}

@mixin boxshadow($color: $alpha, $opacity: 0.8, $size: 10) {
  box-shadow: 0 0 #{$size}px transparentize($color, $opacity);
}

@mixin boxsh(){
  box-shadow: 0 0 10px transparentize($color: $color3, $amount: .9);
}

@mixin margin1280() {
  margin-right: 3%;
  margin-left: 3%;
}

@mixin maxscreen() {
  max-width: 1366px;
  margin: 0 auto;
}

$color0: #2B96D6;
$color1: #FEC61F;
$color2: #D62B42;
$color3: #15120D;
$color4: #F1ECEC;
$color5: #FDFCFC; // fond main
$color6: #676767;
$color7: #a9a9a9; // discret
$color8: #DFDDDD;

$gerance: #0B983A;
$syndic: #DB121F;
$services: #009FE3;
$transac: #D6B80B;

$error: #ab0b0c;
$errorLabel: #d40d0e;
$errorBg: #ffb9b9;
$success: #169f50;
$successBg: #83ffc5;
$info: #405fb5;
$infoBg: #9ff0ff;

$alpha: #FFF;

$colorDisabled: #a9a9a9;