@import '../vars/vars.scss';

@import 'split/booking/dot.scss';
@import 'split/booking/fiche.scss';
@import 'split/booking/actions.scss';
@import 'split/booking/review.scss';
@import 'split/booking/ticket.scss';
@import 'split/booking/form.scss';

.section-infos{
    padding: 0 10px;
    transition: opacity 0.4s ease-in-out, display 0.2s ease-in-out 0.4s;

    h1{
        padding-bottom: 10px;
    }
    .subtitle{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .informations-complementaire{
        margin-top: 40px;
        text-align: center;
    }

    &.hide{
        opacity: 0;
        display: none;
    }
}

.starter-card{
    box-shadow: 0 0 10px transparentize($color: $color3, $amount: 0.9);
    background-color: $alpha;
    padding: 25px 10px;
    margin-top: 25px;
    border-radius: 5px;

    .starter-infos{
        .alert{
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .starter-dates{
        margin-top: 15px;

        .item{
            margin-bottom: 5px;
        }

        .item.active{
            @include fontSemibold();
        }

        .starter-dates-dot{
            display: inline-block;
            width: 10px; height: 10px;
            border-radius: 10px;
            background-color: $color7;
            margin-right: 5px;

            &.starter-dates-dot-true{
                background-color: $yellow;
            }
        }

        .txt-discret{
            font-size: 14px;
            color: $color6;

            span{
                display: none;
            }
        }
    }

    .starter-btn{
        @include flex(row, center, center);
    }
}

/*****
** STEPS
******/
.section-steps{
    padding: 0 10px;
}

.steps{
    .step{
        @include hide();
        display: none;

        &.active{
            @include show();
            display: block;
            transition: opacity 0.2s ease-in-out 0.2s;
        }
    }

    .annulation{
        margin-top: 15px;
    }

    .step-title{
        margin-bottom: 25px;
    
        h2{
            margin-bottom: 10px;
        }
    
        h2 + div {
            font-size: 14px;
            opacity: 0.9;
            max-width: 500px;
        }
        h2 + div .text-regular{
            font-size: 16px;
            display: block;
            opacity: 1;
            margin-bottom: 10px;
        }
        h2 + div .alert{
            margin-top: 15px;
        }
    }
    
    .step-content{
        margin-bottom: 25px;
    }

    .step-card{
        @include boxsh();
        border-radius: 5px;
        background-color: $alpha;
        padding: 25px;
        margin-bottom: 30px;
        max-width: 410px;
    }
}
.ext-responsable{
    .title{
        @include fontSemibold();
        margin-bottom: 10px;
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .starter-card{
        .starter-dates{
            .txt-discret{
                span{
                    display: inline;
                }
            }
        }
    }

    .steps .step-1 .step-card{
        max-width: 100%;
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .section-infos{
        @include flex(row, flex-start, flex-start);
    }

    .informations{
        margin-right: 30px;
        max-width: 700px;
    }

    .starter-card{
        margin-top: 0;
        padding: 25px;
    }

    .steps{
        .step-prospects{
            @include flex(row, stretch, space-between);
            flex-wrap: wrap;
        }

        .step-card:nth-child(odd){
           margin-right: 30px;
        }

        .step-1.active{
            display: flex;
            flex-wrap: wrap;

            .step-card:nth-child(odd){
                margin-right: 0;
                width: calc(100% - 50px);
            }

            .step-title{
                width: 50%;

                h2 + div{
                    @include flex(column, flex-start, space-between);
                    height: calc(100% - 65px);
                }
            }

            .step-content{
                margin-left: 50px;
                width: calc(50% - 50px);
            }
        }
    }
}


//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .section-infos, .section-steps{
        padding: 0;
        @include margin1280();
    }
    .informations{
        margin-right: 100px;
    }
    .starter-card{
        .starter-infos{
            .alert{
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }

    .step-prospects{
        justify-content: center;
    }
    .steps{
        .step-card{
            width: 536px;
            max-width: 536px;
        }

        .step-1.active{
            .step-content{
                margin-left: 0;
                width: 50%;
            }
        }
    }
}

//                      __   _ _____  __    __     __
//                     | _| / |___ / / /_  / /_   |_ |
//    _____ _____ _____| |  | | |_ \| '_ \| '_ \   | |_____ _____ _____
//   |_____|_____|_____| |  | |___) | (_) | (_) |  | |_____|_____|_____|
//                     | |  |_|____/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1366px){
    .steps{
        .step-2{
            .step-card{
                width: 577px;
                max-width: 577px;
            }
        }
    }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
    .section-infos, .section-steps{
        @include maxscreen();
    }

    .steps{
        .step-2{
            .step-card{
                width: 615px;
                max-width: 615px;
            }
        }
    }
}