{# ---------------- FOOTER ----------------- #}
<footer>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-col">
                <span class="title">Liens utiles</span>
                <ul>
                    <li><a href="{{ path('app_booking_index') }}">Réservation de tickets</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <span class="title">Légales</span>
                <ul>
                    <li><a href="{{ path('app_mentions') }}">Mentions légales</a></li>
                    <li><a href="{{ path('app_politique') }}">Politique de confidentialité</a></li>
                    <li><a href="{{ path('app_cookies') }}">Gestion des cookies</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2020 - <a href="https:/logilink.fr" target="_blank">Logilink</a></p>
    </div>
</footer>