<nav>
    <div class="nav">
        <div class="nav-logo">
            <a href="{{ path('app_homepage') }}">
                <img src="{{ asset(path_images ~ 'logo.png') }}" alt="Logo cité de la musique">
            </a>
        </div>
        <div class="nav-menu">
            <div class="items">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('admin_dashboard') }}" class="item">
                        <span class="icon-user"></span>
                        <span>Espace admin</span>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="item">
                        <span class="icon-user"></span>
                        <span>Se connecter</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>