@import '../../../vars/vars.scss';

.step-prospect{
    position: relative;

    .title{
        display: block;
        margin-bottom: 25px;
        font-size: 24px;
        text-align: center;
    }

    .actions{
        @include flex(row, center, flex-end);
        margin-top: 30px;

        button{
            display: inline-block;
            padding: 10px 15px;
            font-size: 14px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            color: $color5;
            transition: 0.2s ease-in-out;

            &:hover{
                transform: translateY(-2px);
            }

            &.delete{
                background-color: #fa9b9b;
                margin-right: 15px;
            }
            &.valide{
                background-color: $info;
            }
            &.edit{
                background-color: #2ffa9c;
            }
        }
    }

    .valideDiv{
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        @include flex(column, center, center);
        z-index: -1;
        opacity: 0;
        transition: 0.2s ease-in-out;

        &:before{
            content: '';
            position: absolute;
            top: 0; left: 0;
            background: $successBg;
            opacity: 0.9;
            border-radius: 15px;
            width: 100%; height: 100%;
            z-index: -1;
        }

        .infos{
            @include flex(column, center, center);

            .registered{
                border: 2px solid $info;
                padding: 5px 10px;
                border-radius: 3px;
                color: $info;
                transform: scale(1.2) rotate(-8deg);
                background-color: $alpha;
                z-index: -2;
                opacity: 0;
                margin-bottom: 35px;
                transition: all 0.6s ease-in-out 0.2s;
            }

            & > *{
                margin-bottom: 10px;
            }

            & > div:first-child{
                @include fontSemibold();
            }
        }
        
        &.valide{
            z-index: 1;
            opacity: 1;
        }
    }
    
    &.true{
        .valideDiv{
            &.valide{
                &:before{
                    background-color: $infoBg;
                }
                .infos{
                    .registered{
                        opacity: 1;
                        z-index: 2;
                        transform: scale(1) rotate(-8deg);
                    }
                }
            }
        }
    }
}