@import '../../../vars/vars.scss';

.step-prospect{
    position: relative;

    .title{
        display: block;
        margin-bottom: 25px;
        font-size: 24px;
        text-align: center;
    }

    .actions{
        @include flex(row, center, flex-end);
        margin-top: 30px;

        button{
            display: inline-block;
            padding: 10px 15px;
            font-size: 14px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            color: $color5;
            transition: 0.2s ease-in-out;

            &:hover{
                transform: translateY(-2px);
            }

            &.delete{
                background-color: #fa9b9b;
                margin-right: 15px;
            }
            &.valide{
                background-color: $info;
            }
            &.edit{
                background-color: #2ffa9c;
            }
        }
    }

    .form-group{
        margin-bottom: 15px;
    }

    .error{font-size: 12px;}

    .form-group-radio{
        @include flex(row, center, center);

        & > * {
            width: 50%;
        }
        & > *:not(:last-child){
            margin-right: 10px;
        }
    }
    input[type="radio"]{
        opacity: 0;
        & + label{
            padding: 3px 10px;
            width: 70px;
            border-radius: 5px;
            display: block;
            margin-top: -25px;
            text-align: center;
            cursor: pointer;
            border: 1px dashed transparent;
            @include fontRegular();
            font-size: 16px;
            
            &:hover{
                border-color: $color7;
            }
        }
    }
    input:checked{
        & + label{
            border: 1px solid $color3;

            &:hover{
                border-color: $color3;
            }
        }
    }

    .valideDiv{
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        @include flex(column, center, center);
        z-index: -1;
        opacity: 0;
        transition: 0.2s ease-in-out;

        &:before{
            content: '';
            position: absolute;
            top: 0; left: 0;
            background: $successBg;
            opacity: 0.9;
            border-radius: 15px;
            width: 100%; height: 100%;
            z-index: -1;
        }

        .infos{
            @include flex(column, center, center);

            & > *{
                margin-bottom: 10px;
            }

            & > div:first-child{
                @include fontSemibold();
            }
        }
        
        &.valide{
            z-index: 1;
            opacity: 1;
        }
    }
    
    &.active{
        background-color: $successBg;
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {

    .step-prospect{
        .line{
            @include flex(row, flex-start, space-between);
            margin-bottom: 15px;

            & > *:not(:last-child){
                margin-right: 30px;
            }
        }
        .line-2{
            & > *{
                width: 50%;
            }
        }
        .line-3{
            & > *{
                width: 33%;
            }
        }

        .form-group-radio{
            width: 210px;
        }

        input[type="radio"] + label{    margin-bottom: 0;}
    }
}