@import '../../../vars/vars.scss';


.step-error{
    margin-bottom: 10px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group.disabled{
    opacity: 0 !important;
    z-index: -20; 
    position: absolute;
}

.error{font-size: 12px;}

.form-group-radio{
    @include flex(row, center, center);

    & > * {
        width: 50%;
    }
    & > *:not(:last-child){
        margin-right: 10px;
    }
}
input[type="radio"]{
    opacity: 0;
    & + label{
        padding: 3px 10px;
        width: 70px;
        border-radius: 5px;
        display: block;
        margin-top: -25px;
        text-align: center;
        cursor: pointer;
        border: 1px dashed $color7;
        @include fontRegular();
        font-size: 16px;
        transition: all 0.2s ease-in-out;
        
        &:hover{
            border-style: solid;
        }
    }
}
input:checked{
    & + label{
        border: 1px solid $color3;
        color: $color3;

        &:hover{
            border-color: $color3;
        }
    }
}

.form-group-checkbox{
    @include flex(row, flex-start, flex-start);

    label{
        margin-bottom: 0;
        margin-right: 10px;
    }
}

.form-group-date{
    input{
        width: calc(100% - 12px);
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .line{
        @include flex(row, flex-start, space-between);
        margin-bottom: 15px;

        & > *:not(:last-child){
            margin-right: 30px;
        }
    }
    .line-2{
        & > *{
            width: 50%;
        }
    }
    .line-3{
        & > *{
            width: 33%;
        }
    }
    .form-group-radio{
        width: 210px;
    }

    input[type="radio"] + label{    margin-bottom: 0;}

    .form-group-date{
        input{
            width: calc(100% - 25px);
        }
        .error{
            width: calc(100% - 23px);
        }
    }
}