@import '../../../vars/vars.scss';

.final-content{
    .alert{
        margin-top: 15px;
    }
    .alert-ticket{
        text-align: center;
    }

    .ticket-barcode{
        margin: 15px 0;
        img{
            width: 280px;
        }
    }
    .ticket-email{
        margin-top: 25px;
    }
    .ticket-download{
        margin-top: 10px;
        color: $infoLabel;
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .final-content{
        .alert-ticket{
            padding: 50px 10px;
        }
    }
}