@import "~normalize.css";
@import "vars/fonts.scss";
@import "vars/vars.scss";

@import "components/cookies.scss";
@import "components/loader.scss";
@import "components/menu.scss";
@import "components/footer.scss";
@import "components/ariane.scss";
@import "components/button.scss";
@import "components/alert.scss";
@import "components/form.scss";

body {
    background-color: $color5;
    @include fontRegular();
    line-height: 1.37;
}

h1, h2, h3, h4, p{
    margin: 0;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

main{
    padding: 50px 0;
    min-height: 90vh;
}

.txt-danger{
    color: $error;
}
.txt-primary{
    color: $color0;
}
.txt-info{
    color: $info;
}