@import "~normalize.css";
@import "vars/fonts.scss";
@import "vars/vars.scss";

@import "components/cookies.scss";
@import "components/loader.scss";
@import "components/menu.scss";
@import "components/footer.scss";
@import "components/ariane.scss";
@import "components/button.scss";
@import "components/alert.scss";
@import "components/form.scss";

body {
    background-color: $color5;
    @include fontRegular();
    line-height: 1.37;
}

h1, h2, h3, h4, p{
    margin: 0;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

img{
    width: 100%;
}

b{
    @include fontSemibold();
}

main{
    padding: 50px 0;
    min-height: 90vh;
}

.txt-danger{
    color: $error;
}
.txt-primary{
    color: $color0;
}
.txt-info{
    color: $info;
}

.container-default{
    padding: 0 10px;
}

.link{
    display: block;
    position: relative;
    color: $color3;
    cursor: pointer;
    padding-left: 10px;
    margin: 25px 0 0 0;

    &:before{
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 5px;
        height: 100%;
        background-color: $color7;
        display: block;
    }

    &.link-primary{
        &:before{
            background-color: $color0;
        }
    }
}