<nav>
    <div class="nav-type">
        <a href="{{ path('admin_dashboard') }}">
            <span class="type-letter">A</span><span class="type-suite">dmin</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="active" href="{{ path('admin_dashboard') }}">
            <span class="icon-home"></span>
            <span>Dashboard</span>
        </a>
        <a href="{{ path('admin_ticket_index') }}">
            <span class="icon-depot"></span>
            <span>Gestion des tickets</span>
        </a>
    </div>
    <div class="nav-params">
        <a href="{{ path('app_homepage') }}">
            <span class="icon-chevron-left"></span>
            <span>Retour au site</span>
        </a>
    </div>
</nav>