@import "../../../vars/vars.scss";

.prospect-edit-overlay, .days-edit-overlay, .days-add-overlay, .slots-edit-overlay{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: transparentize($color: $color3, $amount: 0.5);
    opacity: 0;
    z-index: -1;

    &.active{
        opacity: 1;
        z-index: 5;
        cursor: pointer;
    }
}

.prospect-edit, .days-edit, .days-add, .slots-edit{
    background: $alpha;
    padding: 15px;
    position: fixed;
    width: calc(100% - 80px);    height: calc(100% - 30px);
    top: 0;
    right: -200%;
    opacity: 0;
    z-index: -1;
    @include boxsh();
    overflow-y: auto;
    transition: all 0.2s ease-in-out;

    .title{
        @include fontSemibold();
        font-size: 24px;
        margin-bottom: 25px;
        @include flex(row, flex-start, space-between);

        [class^='icon-']{
            cursor: pointer;
        }
    }
    .informations{
        margin-bottom: 25px;
    }
    .minimum{
        margin-bottom: 10px;
    }

    &.active{
        right: 0;
        opacity: 1;
        z-index: 10;
    }

    .edit-resp{
        margin-bottom: 15px;
        display: block;
        color: $info;
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .prospect-edit, .days-edit, .day-add, .slots-edit{
        width: 40%;
        padding-bottom: 50px;
    }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .prospect-edit, .days-edit, .days-add, .slots-edit{
        width: 30%;
    }
}