@import "../../../vars/vars.scss";

.history-header{
    display: none;
}

.history-stat{
    margin-bottom: 15px;
}

.history-step{
    background-color: $color7;
    border-radius: 3px;
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 5px;
    color: $alpha;

    &.history-step-1{
        background-color: $color0;
    }
    &.history-step-2{
        background-color: $color2;
    }
    &.history-step-3{
        background-color: $color1;
    }
}

.history-body{
    & > .item{
        position: relative;
        @include boxsh();
        background-color: $alpha;
        padding: 15px 10px;
        border-radius: 5px;

        .name{
            @include fontSemibold();

            & > span{
                text-transform: uppercase;
            }
        }
        .famille{
            font-size: 14px;
            color: $color7;
            margin-bottom: 15px;
        }

        .email{
            margin-bottom: 10px;
        }
        .telephone{
            color: $color7;
            font-size: 14px;
        }
        .status{
            display: inline-block;
            color: $color7;
            float: right;
            margin-top: -22px;

            &.status-1{
                color: $color0;
            }
        }
        .horaire{
            margin-top: 20px;
            font-size: 14px;
        }
        .createAt{
            color: $color7;
            font-size: 14px;
            margin-top: 15px;
            text-align: right;
        }
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .history{
        .col-1{
            width: 10%;
        }
        .col-2{
            width: 40%;
        }
        .col-3{
            width: 10%;
        }
        .col-4{
            display: block;
            width: 15%;
        }
        .col-5{
            width: 20%;
        }
    }
    .history-header{
        @include flex(row, center, flex-start);
        padding: 0 10px 15px 10px;

        & > *{
            text-transform: uppercase;
            color: $color6;
        }
        & > *:not(:last-child){
            margin-right: 10px;
        }
    }
    .history-body{
        & > .item{
            @include flex(row, flex-start, flex-start);
            margin-bottom: 10px;

            & > *:not(:last-child){
                margin-right: 10px;
            }

            .email{
                margin-bottom: 0;
            }
            .horaire{
                margin-top: 0;
            }
            .status{
                float: none;
                margin-top: 0;
            }
            .createAt{
                margin-top: 0;
                text-align: left;
            }
        }
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .history-header{
        .col-3{
            display: block;
        }
    }
    .history-body{
        & > .item{
            .adresse{
                display: block;
                font-size: 14px;
            }
        }
    }

}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {

}