@import "../../../vars/vars.scss";

.prospects-header{
    display: none;
}

.prospects-body{
    & > .item{
        position: relative;
        @include boxsh();
        background-color: $alpha;
        padding: 15px 10px;
        border-radius: 5px;

        .name{
            @include fontSemibold();

            & > span{
                text-transform: uppercase;
            }
        }
        .birthday, .adresse{
            display: none;
        }

        .email{
            margin-bottom: 10px;
        }
        .telephone{
            color: $color7;
            font-size: 14px;
        }
        .status{
            display: inline-block;
            background-color: $color7;
            color: $alpha;
            padding: 5px 15px;
            border-radius: 8px;
            float: right;
            margin-top: -25px;

            &:hover{
                opacity: 0.8;
            }

            &.status-1{
                background-color: $color0;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
            &.status-2{
                background-color: $color1;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
        }
        .horaire{
            margin-top: 20px;
            font-size: 14px;
        }
        .btn-delete{
            width: 100%;
            margin-top: 30px;
            border: none;
            background-color: transparent;
            padding: 5px 15px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover{
                background-color: $errorBg;
                border-radius: 8px;
                color: $color5;
            }
        }
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .col-1{
        width: 40%;
    }
    .col-2{
        width: 30%;
    }
    .col-4{
        display: none;
    }
    .col-5{
        width: 15%;
    }
    .col-6{
        width: 15%;
    }
    .prospects-header{
        @include flex(row, center, flex-start);
        padding: 0 10px 15px 10px;

        & > *{
            text-transform: uppercase;
            color: $color6;
        }
        & > *:not(:last-child){
            margin-right: 10px;
        }

        .col-3{
            display: none;
        }
    }
    .prospects-body{
        & > .item{
            @include flex(row, flex-start, flex-start);
            margin-bottom: 10px;

            & > *:not(:last-child){
                margin-right: 10px;
            }

            .birthday{
                display: block;
                font-size: 14px;
                color: $color7;
            }
            .email{
                margin-bottom: 0;
            }
            .horaire{
                margin-top: 0;
            }
            .status{
                float: none;
                margin-top: 0;
            }
            .btn-delete{
                margin-top: 2px;
            }
        }
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .col-1{
        width: 22%;
    }
    .col-2{
        width: 22%;
    }
    .col-3{
        width: 16%;
    }
    .col-4{
        display: block;
        width: 10%;
    }
    .col-5{
        width: 12%;
    }
    .col-6{
        width: 12%;
    }
    .prospects-header{
        .col-3{
            display: block;
        }
    }
    .prospects-body{
        & > .item{
            .adresse{
                display: block;
                font-size: 14px;
            }
        }
    }

}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {

}