@import "../../../vars/vars.scss";

.prospects-header{
    display: none;
}

.prospects-body{
    & > .item{
        position: relative;
        @include boxsh();
        background-color: $alpha;
        padding: 15px 10px;
        border-radius: 5px;
        margin-bottom: 10px;

        .name{
            @include fontSemibold();
            cursor: pointer;
            transition: color 0.2s ease-in-out;

            &:hover{
                color: $color0;
            }

            & > span{
                text-transform: uppercase;
            }
        }
        .birthday, .adresse{
            display: none;
        }

        .email{
            margin-bottom: 10px;
        }
        .telephone{
            color: $color7;
            font-size: 14px;
        }
        .status{
            display: inline-block;
            background-color: $color7;
            color: $alpha;
            padding: 5px 15px;
            border-radius: 8px;
            float: right;
            margin-top: -25px;

            &:hover{
                opacity: 0.8;
            }

            &.status-1{
                background-color: $color0;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
            &.status-2{
                background-color: $color1;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
        }
        .horaire{
            margin-top: 20px;
            font-size: 14px;
        }
        .btn-delete{
            width: 100%;
            margin-top: 30px;
            border: none;
            background-color: transparent;
            padding: 5px 15px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover{
                background-color: $errorBg;
                border-radius: 8px;
                color: $color5;
            }
        }
    }
}
.prospects-footer{
    .prospects-footer-left{
        display: none;
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .prospects{
        .col-0{
            width: 3%;
            align-self: center;
        }
        .col-1{
            width: 37%;
        }
        .col-2{
            width: 30%;
        }
        .col-4{
            display: none;
        }
        .col-5{
            width: 15%;
        }
        .col-6{
            width: 15%;
        }
    }
    .prospects-header{
        @include flex(row, center, flex-start);
        padding: 0 10px 15px 10px;

        & > *{
            text-transform: uppercase;
            color: $color6;
        }
        & > *:not(:last-child){
            margin-right: 10px;
        }

        .col-3{
            display: none;
        }
    }
    .prospects-body{
        & > .item{
            @include flex(row, flex-start, flex-start);
            margin-bottom: 15px;

            & > *:not(:last-child){
                margin-right: 10px;
            }

            .birthday{
                display: block;
                font-size: 14px;
                color: $color7;
            }
            .email{
                margin-bottom: 0;
            }
            .horaire{
                margin-top: 0;
            }
            .status{
                float: none;
                margin-top: 0;
            }
            .btn-delete{
                margin-top: 2px;
            }
        }
    }
    .prospects-footer{
        @include flex(row, flex-start, space-between);

        & > div{
            padding-top: 25px;
        }

        .prospects-footer-left{
            position: relative;
            @include flex(column, flex-start, flex-start);
            padding-left: 15px;

            &:before{
                content: '';
                position: absolute;
                top: 0; left: 15px;
                display: block;
                width: 1px; height: 100%;
                background-color: $color7;
                z-index: 1;
            }

            .item-action{
                @include flex(column, flex-start, flex-start);
                padding-top: 15px;
                transform: translateY(10px);

                .action{
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    padding-left: 0;

                    &:hover{
                        span{
                            @include boxsh();
                        }
                    }

                    &:before{
                        content: '';
                        display: inline-block;
                        width: 25px; height: 1px;
                        background-color: $color7;
                        margin-right: 8px;
                        transform: translateY(-5px);
                    }

                    span{
                        background-color: $alpha;
                        padding: 2px 10px;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .action:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .prospects{
        .col-1{
            width: 22%;
        }
        .col-2{
            width: 22%;
        }
        .col-3{
            width: 16%;
        }
        .col-4{
            display: block;
            width: 10%;
        }
        .col-5{
            width: 12%;
        }
        .col-6{
            width: 12%;
        }
    }
    .prospects-header{
        .col-3{
            display: block;
        }
    }
    .prospects-body{
        & > .item{
            .adresse{
                display: block;
                font-size: 14px;
            }
        }
    }

}