@import "../../../vars/vars.scss";

.displayByResp{
    display: block;
    margin-bottom: 25px;
    &{
        color: $color0;
        text-decoration: underline;
    }
}

.prospects-header{
    display: none;
}

.prospects-body{
    .col-6{
        width: 100%;
        @include flex(row, flex-start, space-between);
    }
    .line-resp{
        margin-bottom: 30px;
        @include boxsh();
    }
    .item-resp{
        border-radius: 5px 5px 0 0;
        background-color: $alpha;
        padding: 15px 10px;
        border-bottom: 1px solid #DFDDDD;

        a{
            color: $info;

            &:hover{
                color: $color0;
            }
        }
    }
    & > .line-resp > .item{
        position: relative;
        background-color: $alpha;
        padding: 15px 10px;
        border-radius: 0 0 5px 5px;

        .name{
            @include fontSemibold();
            cursor: pointer;
            transition: color 0.2s ease-in-out;

            &:hover{
                color: $color0;
            }

            & > span{
                text-transform: uppercase;
            }
        }
        .numAdh{
            margin-right: 5px;
        }
        .haveNumAdh{
            @include flex(row, center, flex-start);

            .haveNumAdh-status{

                & > span{
                    cursor: pointer; 
                    margin: 0 3px; 
                    transition: all 0.2s ease-in-out;
                    border-radius: 50px;
                }
                .icon-warning{
                    color: $color1;

                    &:hover{
                        color: $color5;
                        background-color: $color1;
                    }
                }
                .icon-question-mark{
                    color: $color2;

                    &:hover{
                        color: $color5;
                        background-color: $color2;
                    }
                }
            }
            
        }
        .birthday, .adresse{
            display: none;
        }

        .email{
            margin-bottom: 10px;
        }
        .telephone{
            color: $color7;
            font-size: 14px;
        }
        .status{
            @include flex(row, center, space-between);
            background-color: $color7;
            color: $color3;
            border-radius: 50px;
            float: right;
            margin-top: -25px;
            max-width: 82px;

            &:before, &:after{
                content: '';
                display: inline-block;
                width: 22px;
                height: 20px;
                border-radius: 50px;
                border: 2px solid $alpha;
            }

            &.status-1{
                background-color: $infoBg;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                max-width: 87px;
                padding: 5px 10px 5px 5px;

                &:before{
                    width: 20px;
                    background-color: $info;
                    margin-right: 5px;
                    transition: all 0.2s ease-in-out;
                }
                &:after{
                    display: none;
                    transition: all 0.2s ease-in-out;
                }

                &:hover{
                    &:before{
                        background-color: $success;
                    }
                }
            }
            &.status-2{
                background-color: $successBg;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                padding: 5px 5px 5px 10px;

                &:before{
                    display: none;
                }
                &:after{
                    background-color: $success;
                    margin-left: 5px;
                }
                &:hover{
                    &:after{
                        background-color: $info;
                    }
                }
            }
        }
        .horaire{
            margin-top: 20px;
            font-size: 14px;
        }
        .btn-delete, .btn-edit{
            width: 50%;
            margin-top: 30px;
            border: none;
            background-color: transparent;
            padding: 5px 15px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        .btn-delete{
            &:hover{
                color: $errorLabel;
            }
        }

        .btn-edit{
            &:hover{
                color: $success;
            }
        }
    }
}
.prospects-footer{
    .prospects-footer-left{
        display: none;
    }
}

.step-error{
    margin-bottom: 10px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group.disabled{
    opacity: 0 !important;
    z-index: -20; 
    position: absolute;
}

.error{font-size: 12px;}

.form-group-radio{
    @include flex(row, center, center);

    & > * {
        width: 50%;
    }
    & > *:not(:last-child){
        margin-right: 10px;
    }
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="radio"]{
    opacity: 0;
    & + label{
        padding: 3px 10px;
        width: 70px;
        border-radius: 5px;
        display: block;
        margin-top: -25px;
        text-align: center;
        cursor: pointer;
        border: 1px dashed $color7;
        @include fontRegular();
        font-size: 16px;
        transition: all 0.2s ease-in-out;
        
        &:hover{
            border-style: solid;
        }
    }
}
input:checked{
    & + label{
        border: 1px solid $color3;
        color: $color3;
        transition: all 0.2s ease-in-out;

        &:hover{
            border-color: $color3;
        }
    }
}

.form-group-checkbox{
    @include flex(row, flex-start, flex-start);

    label{
        margin-bottom: 0;
        margin-right: 10px;
        cursor: pointer;
    }
    input{
        cursor: pointer;
    }
}

.form-group-date{
    input{
        width: calc(100% - 12px);
    }
}
h3{
    margin-top: 25px;
    margin-bottom: 15px;
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .line{
        @include flex(row, flex-start, space-between);
        margin-bottom: 15px;

        & > *:not(:last-child){
            margin-right: 30px;
        }
    }
    .line-2{
        & > *{
            width: 50%;
        }
    }
    .line-3{
        & > *{
            width: 33%;
        }
    }
    .form-group-radio{
        width: 210px;
    }

    input[type="radio"] + label{    margin-bottom: 0;}

    .form-group-date{
        input{
            width: calc(100% - 25px);
        }
        .error{
            width: calc(100% - 23px);
        }
    }
    .prospects{
        .col-0{
            width: 3%;
            align-self: center;
        }
        .col-1{
            width: 37%;
        }
        .col-2{
            width: 30%;
        }
        .col-4{
            display: none;
        }
        .col-5{
            width: 15%;
        }
        .col-6{
            width: 15%;
        }
    }
    .prospects-header{
        @include flex(row, center, flex-start);
        padding: 0 10px 15px 10px;

        & > *{
            text-transform: uppercase;
            color: $color6;
        }
        & > *:not(:last-child){
            margin-right: 10px;
        }

        .col-3{
            display: none;
        }
    }
    .prospects-body{
        & > .line-resp > .item{
            @include flex(row, flex-start, flex-start);

            & > *:not(:last-child){
                margin-right: 10px;
            }

            .birthday{
                display: block;
                font-size: 14px;
                color: $color7;
            }
            .email{
                margin-bottom: 0;
            }
            .horaire{
                margin-top: 0;
            }
            .status{
                float: none;
                margin-top: 0;
            }
            
            .btn-delete, .btn-edit{
                margin-top: 2px;
            }
        }
    }
    .prospects-footer{
        @include flex(row, flex-start, space-between);

        & > div{
            padding-top: 25px;
        }

        .prospects-footer-left{
            position: relative;
            @include flex(column, flex-start, flex-start);
            padding-left: 15px;

            &:before{
                content: '';
                position: absolute;
                top: 0; left: 15px;
                display: block;
                width: 1px; height: 100%;
                background-color: $color7;
                z-index: 1;
            }

            .item-action{
                @include flex(column, flex-start, flex-start);
                padding-top: 15px;
                transform: translateY(10px);

                .action{
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    padding-left: 0;

                    &:hover{
                        span{
                            @include boxsh();
                        }
                    }

                    &:before{
                        content: '';
                        display: inline-block;
                        width: 25px; height: 1px;
                        background-color: $color7;
                        margin-right: 8px;
                        transform: translateY(-5px);
                    }

                    span{
                        background-color: $alpha;
                        padding: 2px 10px;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .action:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .prospects{
        .col-1{
            width: 35%;
        }
        .col-2{
            width: 25%;
        }
        .col-4{
            display: block;
            width: 10%;
        }
        .col-5{
            width: 12%;
        }
        .col-6{
            width: 12%;
        }
    }
    .prospects-body{
        & > .line-resp > .item{
            .status{
                &.status-2{
                    &:after{
                        width: 20px;
                    }
                }
            }
        }
    }

}