{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block title %}Gestion des cookies{% endblock %}

{% block main_content %}
    <section class="error-page">
        <h1>Erreur</h1>
        <p><b>Une erreur est survenue.</b> <br> Mais vous pouvez cliquer sur ce bouton pour retourner à la page d'accueil !</p>
        <button class="btn btn-primary">Accueil</button>
    </section>
{% endblock %}