{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Réservation</h1>
{% endblock %}

{% block javascripts %}
{% endblock %}